<manifest
    xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.boswelja.smartwatchextensions.dndsync.common">

    <application>
        <receiver
            android:name="com.boswelja.smartwatchextensions.dndsync.DnDStatusReceiver"
            android:exported="false">
            <intent-filter>
                <action android:name="com.boswelja.watchconnection.common.message.MessageReceived" />
            </intent-filter>
        </receiver>
    </application>
</manifest>
