*.iml
.gradle
/local.properties
/version.properties
/.idea/caches
/.idea/libraries
/.idea/discord.xml
/.idea/assetWizardSettings.xml
/.idea/jarRepositories.xml
.idea/workspace.xml
**/build
**/release
captures/
