*.iml
.gradle
/local.properties
/.idea/workspace.xml
/.idea/libraries
/.idea/caches
.DS_Store
/build
/captures
.externalNativeBuild
/release
/common/release
/mobile/release
/wear/release
/mobile/build
/wear/build
/common/build