<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.boswelja.smartwatchextensions">

    <uses-feature android:name="android.hardware.type.watch" />

    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.ACCESS_NOTIFICATION_POLICY" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.REQUEST_DELETE_PACKAGES" />
    <uses-permission
        android:name="android.permission.QUERY_ALL_PACKAGES"
        tools:ignore="QueryAllPackagesPermission" />

    <application
        android:name=".MainApplication"
        android:allowBackup="false"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <uses-library
            android:name="com.google.android.wearable"
            android:required="true" />

        <meta-data
            android:name="com.google.android.wearable.standalone"
            android:value="false" />
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />

        <activity
            android:name=".main.ui.MainActivity"
            android:label="@string/app_name"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".about.ui.AboutActivity"
            android:exported="false" />

        <activity android:name="androidx.wear.activity.ConfirmationActivity" />

        <activity android:name=".ActionsActivity" />

        <service
            android:name=".batterysync.PhoneBatteryComplicationProvider"
            android:icon="@drawable/battery_full"
            android:label="Phone Battery Status"
            android:permission="com.google.android.wearable.permission.BIND_COMPLICATION_PROVIDER"
            android:exported="true">
            <intent-filter>
                <action android:name="android.support.wearable.complications.ACTION_COMPLICATION_UPDATE_REQUEST" />
            </intent-filter>

            <meta-data
                android:name="android.support.wearable.complications.UPDATE_PERIOD_SECONDS"
                android:value="0" />

            <meta-data
                android:name="android.support.wearable.complications.SUPPORTED_TYPES"
                android:value="RANGED_VALUE,SHORT_TEXT" />
        </service>

        <service
            android:name=".phonelocking.LockPhoneComplicationProvider"
            android:icon="@drawable/ic_phone_lock"
            android:label="@string/lock_phone_label"
            android:permission="com.google.android.wearable.permission.BIND_COMPLICATION_PROVIDER"
            android:exported="true">
            <intent-filter>
                <action android:name="android.support.wearable.complications.ACTION_COMPLICATION_UPDATE_REQUEST" />
            </intent-filter>

            <meta-data
                android:name="android.support.wearable.complications.UPDATE_PERIOD_SECONDS"
                android:value="0" />

            <meta-data
                android:name="android.support.wearable.complications.SUPPORTED_TYPES"
                android:value="SHORT_TEXT" />
        </service>

        <service
            android:name=".phoneconnectionmanager.PreferenceChangeReceiver"
            android:exported="true">
            <intent-filter>
                <action android:name="com.google.android.gms.wearable.MESSAGE_RECEIVED" />
                <data
                    android:host="*"
                    android:pathPrefix="/update_preference_"
                    android:scheme="wear" />
            </intent-filter>
        </service>

        <service
            android:name=".batterysync.PhoneBatteryUpdateReceiver"
            android:exported="true">
            <intent-filter>
                <action android:name="com.google.android.gms.wearable.MESSAGE_RECEIVED" />
                <data
                    android:host="*"
                    android:path="/battery_status"
                    android:scheme="wear" />
            </intent-filter>
        </service>

        <service
            android:name=".phoneconnectionmanager.MessageReceiver"
            android:exported="true">
            <intent-filter>
                <action android:name="com.google.android.gms.wearable.MESSAGE_RECEIVED" />

                <data
                    android:host="*"
                    android:path="/request_noti_policy_access_status"
                    android:scheme="wear" />
                <data
                    android:host="*"
                    android:path="/start_app_manager_service"
                    android:scheme="wear" />
                <data
                    android:host="*"
                    android:path="/request_app_version"
                    android:scheme="wear" />
                <data
                    android:host="*"
                    android:path="/request_sdk_int"
                    android:scheme="wear" />
                <data
                    android:host="*"
                    android:path="/update_capabilities"
                    android:scheme="wear" />
            </intent-filter>
        </service>

        <service
            android:name=".appmanager.AppManagerMessageReceiver"
            android:exported="true">
            <intent-filter>
                <action android:name="com.google.android.gms.wearable.MESSAGE_RECEIVED" />

                <data
                    android:host="*"
                    android:path="/app_manager_request_open_package"
                    android:scheme="wear" />
                <data
                    android:host="*"
                    android:path="/app_manager_request_uninstall_package"
                    android:scheme="wear" />
                <data
                    android:host="*"
                    android:path="/app_manager_cache_check"
                    android:scheme="wear" />
            </intent-filter>
        </service>

        <service
            android:name=".dndsync.DnDRemoteChangeReceiver"
            android:exported="true">
            <intent-filter>
                <action android:name="com.google.android.gms.wearable.MESSAGE_RECEIVED" />
                <data
                    android:host="*"
                    android:pathPrefix="/dnd_status"
                    android:scheme="wear" />
            </intent-filter>
        </service>

        <service
            android:name=".dndsync.DnDLocalChangeListener"
            android:exported="false" />

        <service
            android:name=".proximity.SeparationObserverService"
            android:exported="false" />

        <receiver
            android:name=".BootHandler"
            android:exported="false">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>
    </application>

</manifest>
