<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-feature android:name="android.hardware.type.watch" />

    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.ACCESS_NOTIFICATION_POLICY" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.REQUEST_DELETE_PACKAGES" />
    <uses-permission
        android:name="android.permission.QUERY_ALL_PACKAGES"
        tools:ignore="QueryAllPackagesPermission" />

    <application
        android:name=".MainApplication"
        android:allowBackup="false"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <uses-library
            android:name="com.google.android.wearable"
            android:required="true" />

        <meta-data
            android:name="com.google.android.wearable.standalone"
            android:value="false" />

        <activity
            android:name=".main.ui.MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name="androidx.wear.activity.ConfirmationActivity" />

        <receiver
            android:name=".phoneconnectionmanager.IntSettingChangeReceiver"
            android:exported="false">
            <intent-filter>
                <action android:name="com.boswelja.watchconnection.common.message.MessageReceived" />
            </intent-filter>
        </receiver>

        <receiver
            android:name=".phoneconnectionmanager.BoolSettingChangeReceiver"
            android:exported="false">
            <intent-filter>
                <action android:name="com.boswelja.watchconnection.common.message.MessageReceived" />
            </intent-filter>
        </receiver>

        <receiver
            android:name=".phoneconnectionmanager.MessageReceiver"
            android:exported="false">
            <intent-filter>
                <action android:name="com.boswelja.watchconnection.common.message.MessageReceived" />
            </intent-filter>
        </receiver>

        <receiver
            android:name=".BootHandler"
            android:exported="false">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>
    </application>

</manifest>
