<manifest
    package="com.boswelja.smartwatchextensions.appmanager"
    xmlns:android="http://schemas.android.com/apk/res/android">
    <application>
        <receiver
            android:name=".WatchAppReceiver"
            android:exported="false">
            <intent-filter>
                <action android:name="com.boswelja.watchconnection.common.message.MessageReceived" />
            </intent-filter>
        </receiver>
    </application>
</manifest>
