<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.boswelja.devicemanager">

    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NOTIFICATION_POLICY" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.REQUEST_IGNORE_BATTERY_OPTIMIZATIONS" />
    <uses-permission android:name="com.android.vending.BILLING" />

    <application
        android:name=".MainApplication"
        android:allowBackup="false"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:resizeableActivity="true"
        android:theme="@style/Theme.App"
        android:manageSpaceActivity="com.boswelja.devicemanager.managespace.ManageSpaceActivity"
        tools:ignore="UnusedAttribute">

        <activity
            android:name=".managespace.ManageSpaceActivity"
            android:label="@string/manage_space_title" />

        <activity android:name="com.boswelja.devicemanager.main.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".messages.ui.MessageHistoryActivity"
            android:exported="false"
            android:label="@string/message_history_label" />

        <activity
            android:name=".batterysync.ui.BatterySyncPreferenceActivity"
            android:exported="false" />

        <activity
            android:name=".dndsync.ui.DnDSyncPreferenceActivity"
            android:exported="false" />
        <activity
            android:name=".dndsync.ui.helper.DnDSyncHelperActivity"
            android:exported="false" />

        <activity
            android:name=".phonelocking.ui.PhoneLockingPreferenceActivity"
            android:exported="false" />

        <activity
            android:name=".appmanager.ui.AppManagerActivity"
            android:label="@string/app_manager_activity_title"
            android:exported="false" />
        <activity
            android:name=".appmanager.ui.info.AppPackageInfoActivity"
            android:exported="false" />

        <activity
            android:name=".watchmanager.ui.WatchManagerActivity"
            android:label="@string/watch_manager_title"
            android:exported="false" />
        <activity
            android:name=".watchmanager.ui.WatchInfoActivity"
            android:exported="false" />

        <activity
            android:name=".watchsetup.ui.WatchSetupActivity"
            android:exported="false" />

        <activity
            android:name=".widget.ui.WidgetSettingsActivity"
            android:exported="false" />

        <receiver
            android:name=".phonelocking.DeviceAdminChangeReceiver"
            android:description="@string/device_admin_desc"
            android:label="@string/device_admin_label"
            android:permission="android.permission.BIND_DEVICE_ADMIN"
            android:exported="true">
            <meta-data
                android:name="android.app.device_admin"
                android:resource="@xml/device_admin_policies" />

            <intent-filter>
                <action android:name="android.app.action.DEVICE_ADMIN_ENABLED" />
            </intent-filter>
        </receiver>
        <service
            android:name=".phonelocking.PhoneLockingAccessibilityService"
            android:permission="android.permission.BIND_ACCESSIBILITY_SERVICE"
            android:label="@string/phone_locking_accessibility_service_label">
            <intent-filter>
                <action android:name="android.accessibilityservice.AccessibilityService" />
            </intent-filter>
            <meta-data
                android:name="android.accessibilityservice"
                android:resource="@xml/phone_locking_accessibility_service" />
        </service>

        <receiver
            android:name=".bootorupdate.BootOrUpdateReceiver"
            android:exported="false">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
                <action android:name="android.intent.action.MY_PACKAGE_REPLACED" />
            </intent-filter>
        </receiver>

        <service
            android:name=".bootorupdate.BootOrUpdateHandlerService"
            android:exported="false" />

        <service
            android:name=".dndsync.DnDLocalChangeService"
            android:exported="false" />

        <service android:name=".dndsync.DnDRemoteChangeReceiver">
            <intent-filter>
                <action android:name="com.google.android.gms.wearable.DATA_CHANGED" />
                <data
                    android:scheme="wear"
                    android:host="*"
                    android:path="/dnd_status" />
            </intent-filter>
        </service>

        <service android:name=".receiver.WatchMessageReceiver">
            <intent-filter>
                <action android:name="com.google.android.gms.wearable.MESSAGE_RECEIVED" />

                <data
                    android:host="*"
                    android:pathPrefix="/lock_phone"
                    android:scheme="wear" />
                <data
                    android:host="*"
                    android:pathPrefix="/request_battery_update"
                    android:scheme="wear" />
                <data
                    android:host="*"
                    android:pathPrefix="/launch_app"
                    android:scheme="wear" />
                <data
                    android:host="*"
                    android:pathPrefix="/request_phone_dnd_access_status"
                    android:scheme="wear" />
                <data
                    android:host="*"
                    android:pathPrefix="/check_watch_registered"
                    android:scheme="wear" />
            </intent-filter>
        </service>

        <service android:name=".batterysync.WatchBatteryUpdateReceiver">
            <intent-filter>
                <action android:name="com.google.android.gms.wearable.MESSAGE_RECEIVED" />
                <data
                    android:scheme="wear"
                    android:host="*"
                    android:path="/battery_status" />
            </intent-filter>
        </service>

        <receiver
            android:name=".batterysync.widget.WatchBatteryWidget"
            android:label="@string/widget_watch_battery_title"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>
            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/widget_watch_battery_metadata" />
        </receiver>
        <activity
            android:name="com.boswelja.devicemanager.batterysync.widget.configuration.WatchBatteryWidgetConfigurationActivity"
            android:label="@string/widget_watch_battery_config_title">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_CONFIGURE" />
            </intent-filter>
        </activity>

        <service android:name=".receiver.PreferenceChangeReceiver">
            <intent-filter>
                <action android:name="com.google.android.gms.wearable.DATA_CHANGED" />
                <data
                    android:scheme="wear"
                    android:host="*"
                    android:path="/preference_change" />
            </intent-filter>
        </service>

    </application>
</manifest>
