<?xml version="1.0" encoding="utf-8"?>
<manifest
    xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.boswelja.devicemanager">

    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NOTIFICATION_POLICY" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.REQUEST_IGNORE_BATTERY_OPTIMIZATIONS" />
    <uses-permission android:name="com.android.vending.BILLING" />

    <application
        android:allowBackup="false"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:resizeableActivity="true"
        android:theme="@style/AppTheme"
        tools:ignore="UnusedAttribute">

        <activity android:name=".ui.main.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".ui.batterysync.BatterySyncPreferenceActivity"
            android:exported="false" />

        <activity
            android:name=".ui.interruptfiltersync.InterruptFilterSyncPreferenceActivity"
            android:exported="false" />
        <activity
            android:name=".ui.interruptfiltersync.helper.InterruptFilterSyncHelperActivity"
            android:exported="false" />

        <activity
            android:name=".ui.appmanager.AppManagerActivity"
            android:exported="false" />
        <activity
            android:name=".ui.appmanager.AppInfoActivity"
            android:exported="false" />

        <receiver
            android:name=".receiver.DeviceAdminChangeReceiver"
            android:description="@string/device_admin_desc"
            android:label="@string/device_admin_label"
            android:permission="android.permission.BIND_DEVICE_ADMIN">
            <meta-data
                android:name="android.app.device_admin"
                android:resource="@xml/device_admin_policies" />

            <intent-filter>
                <action android:name="android.app.action.DEVICE_ADMIN_ENABLED" />
            </intent-filter>
        </receiver>

        <receiver
            android:name=".receiver.BootReceiver"
            android:exported="false">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>

        <service
            android:name=".BatteryUpdateJob"
            android:permission="android.permission.BIND_JOB_SERVICE" />

        <service
            android:name=".service.InterruptFilterLocalChangeListener"
            android:exported="false" />

        <service android:name=".receiver.InterruptFilterRemoteChangeReceiver">
            <intent-filter>
                <action android:name="com.google.android.gms.wearable.DATA_CHANGED" />
                <data android:scheme="wear" android:host="*" android:path="/dnd_status" />
            </intent-filter>
        </service>

        <service android:name=".receiver.WatchMessageReceiver">
            <intent-filter>
                <action android:name="com.google.android.gms.wearable.MESSAGE_RECEIVED" />

                <data
                    android:host="*"
                    android:pathPrefix="/lock_phone"
                    android:scheme="wear" />
                <data
                    android:host="*"
                    android:pathPrefix="/request_battery_update"
                    android:scheme="wear" />
                <data
                    android:host="*"
                    android:pathPrefix="/launch_app"
                    android:scheme="wear" />
                <data
                    android:host="*"
                    android:pathPrefix="/request_phone_dnd_access_status"
                    android:scheme="wear" />
            </intent-filter>
        </service>

        <service android:name=".receiver.WatchBatteryUpdateReceiver">
            <intent-filter>
                <action android:name="com.google.android.gms.wearable.MESSAGE_RECEIVED" />
                <data android:scheme="wear" android:host="*" android:path="/battery_status" />
            </intent-filter>
        </service>

        <receiver android:name=".widget.WatchBatteryWidget">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>
            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/widget_watch_battery_metadata" />
        </receiver>

        <service android:name=".receiver.PreferenceChangeReceiver">
            <intent-filter>
                <action android:name="com.google.android.gms.wearable.DATA_CHANGED" />
                <data android:scheme="wear" android:host="*" android:path="/preference_change" />
            </intent-filter>
        </service>

        <service android:name=".service.PreferenceSyncService" />

        <service android:name=".watchconnectionmanager.WatchConnectionService" />
    </application>

</manifest>
