<manifest package="com.boswelja.smartwatchextensions.appmanager"
    xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission
        android:name="android.permission.QUERY_ALL_PACKAGES"
        tools:ignore="QueryAllPackagesPermission" />

    <application>
        <receiver
            android:name=".AppManagerCommandReceiver"
            android:exported="false">
            <intent-filter>
                <action android:name="com.boswelja.watchconnection.common.message.MessageReceived" />
            </intent-filter>
        </receiver>

        <receiver
            android:name=".AppManagerCacheValidatorReceiver"
            android:exported="false">
            <intent-filter>
                <action android:name="com.boswelja.watchconnection.common.message.MessageReceived" />
            </intent-filter>
        </receiver>
    </application>
</manifest>
