<manifest package="com.boswelja.smartwatchextensions.batterysync"
    xmlns:android="http://schemas.android.com/apk/res/android">
    <application>

        <service
            android:name=".PhoneBatteryComplicationProvider"
            android:icon="@drawable/battery_full"
            android:label="@string/battery_sync_complication_label"
            android:permission="com.google.android.wearable.permission.BIND_COMPLICATION_PROVIDER"
            android:exported="true">
            <intent-filter>
                <action android:name="android.support.wearable.complications.ACTION_COMPLICATION_UPDATE_REQUEST" />
            </intent-filter>

            <meta-data
                android:name="android.support.wearable.complications.UPDATE_PERIOD_SECONDS"
                android:value="0" />

            <meta-data
                android:name="android.support.wearable.complications.SUPPORTED_TYPES"
                android:value="RANGED_VALUE,SHORT_TEXT" />
        </service>

        <receiver
            android:name=".PhoneBatteryUpdateReceiver"
            android:exported="false">
            <intent-filter>
                <action android:name="com.boswelja.watchconnection.common.message.MessageReceived" />
            </intent-filter>
        </receiver>

    </application>
</manifest>
