<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <application>

        <service
            android:name=".SeparationObserverService"
            android:foregroundServiceType="connectedDevice"
            android:label="@string/proximity_observer_title"
            android:exported="false" />

    </application>
</manifest>
